[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
seaborn = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
plotly = "*"
tabulate = "*"
pandas-profiling = "*"
jupyter-contrib-nbextensions = "*"
nbresuse = "*"
boto3 = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pyspark = "*"
tqdm = "*"

[requires]
python_version = "3.6"
